/*----------DISPLAY GRID-------------*/
#root {
  padding: 2vw
}

.productGrid {  
  margin: 3rem;
  margin-top: 2vw;
  padding: 0;

  width: auto;
  height: auto;
   
  display:grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(auto,auto);
  grid-gap: 1.5rem;
  grid-template: 
    'item item item order order order'
    'item item item about about about'
  ;
}

@media (max-width: 48rem)  {
  .productGrid {
    margin: 1rem;

    grid-gap: .7rem;
    grid-template: 
    'item'
    'order'
    'about'
    ;
  }

  .header {
    padding: 0;
    margin: 0 1rem 0 1rem
  }

  .body {
    padding: 1px 0 0 0;
  }
}

.item-wrapper {
  height:0;
  padding-top: calc(1.28 * 100%);
  position: relative;
  overflow: hidden;

  border-radius: 30px;

}

.other-wrapper {
  height:0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;

  border-radius: 30px;

}

.order-wrapper {
  height:0;
  padding-top: calc(1.28 * 50% - .7rem - 13px);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  border-radius: 30px;

  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.item-wrapper:hover, .item-wrapper:active {
  transform: scale(.98);
}


.textParallax {
  position: absolute;
  top: 0%;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 30px;

}

.textParallax::after {
  content: ' '; 
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: 30px;

    z-index: 1;
    opacity: 0;
    background-image: url('cell-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.border {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  border:rgb(252, 255, 255, 0.2);
  border-width: 2vw;
  border-style:solid;

  z-index: 30;

}

.order .textBox {
  box-sizing: border-box;
  height: 80%;
  width: auto;
  margin: 1rem;

  display: grid;
  gap: .5rem;

  padding:0;
  position: relative;

  border-radius: 50px;

  grid-template: 
    'textHeader textHeader textHeader textHeader'
    'thin hablfett fett price'
    'buy buy buy buy'
  ;

  z-index: 10;
}



.productGrid .title {
  width:auto;
  height: auto;
  text-align: left;

  grid-area: textHeader / textHeader / textHeader / textHeader;
}

.textHeader {
  color: rgba(255,255,255, 0.9);
  font-size: 5vw;
  line-height: 4vw;
  font-family: 'sohne';
}

.textPrice {
  width: 10vw;
  display: grid;
  place-items: center;
  color: rgba(255,255,255, 0.9);
  font-size: 7vw;
  font-family: 'sohne';

  grid-area: price / price / price / price;
}

.productGrid .sizes {
  padding-left: 2rem;
  width:auto;
  height: auto;
  text-align: left;

  display: flex;
  justify-content: space-around;
}

.sizeButton {
  width: auto;
  height: 100%;
  border-radius: 5px;
  border-style: solid;
  background: none;
  color: white;
  border-color: white;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:  .4s cubic-bezier(.3,.7,0,1);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.3, 0.7, 0, 1);
  transition-delay: 0s;
}

.sizeButton:hover {
  color: black;
  background-color: white;
}

.buyButton {
  width: auto;
  height: auto;

  min-height: 6vh;
  border-radius: 5px;
  border-style: solid;
  background: none;
  color: white;
  border-color: white;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: buy / buy / buy /buy;
}

.buyButton:hover {
  color: black;
  background-color: white;
}

@media (max-width: 48rem) {
  .textHeader {
    padding-top: .3rem;
    font-size: 10vw;
    line-height: 7vw;
  }
  .textHeader br {
    display: none;
  }

  .textPrice {
    font-size: 5vw;
  }
}

#image  {
  max-width: 80%;
  height: auto;
  opacity: 0.9;
}





.item {
  grid-area: item / item / item / item 
}

.order {
  grid-area: order / order / order / order
}

.about {
  grid-area: about / about / about / about
}



/*----------END-------------*/

.thin {
  font-family: 'sohneThin';
  padding-top: 3px;

  grid-area: thin / thin / thin / thin;
}

.hablfett {
  font-family: 'sohne';

  grid-area: hablfett / hablfett / hablfett / hablfett;
}

.fett {
  font-family: 'sohneHeavy';

  grid-area: fett / fett / fett / fett; 
}
